<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.akuz.android.smsalarm"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="15"></uses-sdk>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/SMSAlarm">
		<receiver android:name="de.akuz.android.smsalarm.SMSReceiver" android:enabled="true">
			<intent-filter android:priority="1000">
				<action android:name="android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter>
		</receiver>
		<activity android:screenOrientation="portrait" android:launchMode="singleTop" android:name="AlarmActivity"></activity>
		<activity android:name="OverviewActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name="AlarmGroupDetailActivity"></activity>
    </application>


<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
</manifest> 